// colors
$accentColor = #FF4136
$textColor = #888888
$borderColor = #333
$codeBgColor = #111
$arrowBgColor = #ccc
$bgColor = #222029
$heading-color = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


// table
$table-border = #111

